@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rufina:wght@400;700&display=swap');

:root{
    --Playfair: 'Playfair Display', serif;
    --Amatic: 'Amatic SC', cursive;
    --Rufina: 'Rufina', serif;
    --Roboto: 'Roboto', sans-serif;
    --light: #d4d7cb;
    --darklight: #bfb0b0;
}

*{
    padding: 0;
    margin: 0;
    font-family: var(--Roboto);
}

body{
    line-height: 1.4;
    color: var(--light);
}

img{
    width: 100%;
    display: block;
}
.container{
    max-width: 1320px;
    margin: 0 auto;
    padding: 0 1.2rem;
}

/*header*/
header{
    min-height: 100vh;
    background: url(/media/klokkebakgrunn2.jpg) center/ cover no-repeat fixed;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
}

.navbar{
    background: rgba(140, 132, 132, 0.6);
    padding: 1.2rem;
}
.navbar-brand{
    color: #fff;
    font-size: 2rem;
    display: block;
    text-align: center;
    text-decoration: none;
    font-family: var(--Playfair);
    letter-spacing: 1px;
}

.navbar-nav{
    padding: 0.8rem 0 0.2rem 0;
    text-align: center;
}

.navbar-nav a{
    text-transform: uppercase;
    font-family: var(--Roboto);
    letter-spacing: 1px;
    font-weight: 500;
    color: #fff;
    text-decoration: none;
    display: inline-block;
    padding: 0.4rem 0.1rem;
    letter-spacing: 3px;
    transition: opacity 0.5s ease;
}

.navbar-nav a:hover{
    opacity: 0.7;
    color:rgb(185, 248, 255);
}

.banner{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #fff;
}
.main-title{
    font-size: 3rem;
    font-family: var(--Playfair);
    line-height: 1.2;
}
.main-title span{
    font-family: var(--Playfair);
    color: var(--darklight);
}
.banner p{
    padding: 1rem 0 2rem 0;
    font-size: 1.2rem;
    text-transform: capitalize;
    font-family:var(--Roboto);
    font-weight: 300;
    word-spacing: 2px;
}

.banner form{
    background: #fff;
    border-radius: 2rem;
    padding: 0.6rem 1rem;
    display: flex;
    justify-content: space-between;

}

.search{
    font-family: var(--Roboto);
    font-size: 1.1rem;
    width: 100%;
    outline: 0;
    padding: 0.6rem 0;
    border: none;

}

.search::placeholder{
    text-transform: capitalize;
}

.search-btn{
    width: 40px;
    font-size: 1.1rem;
    color: var(--darklight);
    border: none;
    background: transparent;
    outline: 0;
    cursor: pointer;
}

/*blog post header*/

.blog{

    padding: 4.5rem 0;
}

.title{
    text-align: center;
    padding: 1rem 0;
}

.title h2{
    font-family:var(--Playfair);
    font-size: 2.4rem;
    color:rgb(80, 68, 68)
    
}
.title p{
    text-transform: uppercase;
    padding: 0.6rem 0;
    color:var(--darklight);
    

}

/*blog post header end*/

/*posts*/



#posts{
    
    text-align: center;
    width: 50%;
    padding: 1rem 0;
    align-content: center;
    margin: auto;
    list-style: none;
    display: grid;
    grid-template-columns:50% 50%;
    
    
    
}

h3{
    font-family: var(--Playfair);
    padding: 1rem 0;
    color:rgb(80, 68, 68);
}

#posts p{ 
    font-family: var(--Roboto);
    color: var(--darklight);
    padding: 1rem 0;
    list-style: none;
    display: inline-block; 
}

/*Posts end*/


/*spesific post*/
#post{
    text-align: center;
    padding: 1rem 0;
    width: 50%;
    align-content: center;
    margin: auto;
    list-style: none;
}

#post h1{
    padding: 1rem;
    font-family: var(--Playfair);
    color:rgb(80, 68, 68);
}
#post p{ 
    font-family: var(--Roboto);
    color: var(--darklight);
    padding: 1rem 0;
    list-style: none;
    display: inline-block; 
}

/*spesific post end*/





/* carousel posts*/












/* carousel posts end/*




/*about*/

.about{
    padding: 4.5rem 0;

}

.about-text{
    margin: 2rem 0;

}

.about-text > p{
    font-size: 1.1rem;
    padding: 0.6rem 0;
    opacity: 0.8;
    color: var(--darklight);
    font-family:var(--Rufina);

}

/*footer*/

footer{
    background: var(--darklight);
    color: #fff;
    text-align: center;
    padding: 2rem 0;
}
.social-links{
    display: flex;
    justify-content: center;
    margin-bottom: 1.4rem;
}

.social-links a{
    border: 2px solid #fff;
    color: #fff;
    display: block;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    text-decoration: none;
    margin: 0 0.3rem;
    transition: all 0.5s ease;
}

.footer span{
    margin-top: 1rem;
    display: block;
    font-family: var(--Playfair);
    letter-spacing: 2px;
}



/*contact form*/
.contactform{
    padding: 2rem;
    color: var(--darklight);
    border-radius: 1em;

}

input{
    width: 100%;
    margin-top: 2px;
    padding: 10px;
    font-size: 16px;
}

    
label{
    display: block;
    margin-top: 1rem;

}

.form-error{
    display: none;
    color: rgb(249, 109, 109);
    font-size: 0.9rem;
    margin-top: ;
}


/* media queries*/

@media screen and (min-width: 540px){
    .navbar-nav a{
        padding-right:1.2rem;
        padding-left: 1.2rem;
    }
    .banner form{
        margin-top: 1.4rem;
        width: 80%;
        margin-left:auto;
        margin-right: auto;
    }
}

@media screen and(min-width: 768px){
    .navbar .container{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .search{
        padding: 0.8rem 0;
    }
    .blog-content{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
    }
    .post{
        margin: 0;
    }

    


}


@media screen and (min-width: 992px){
    .blog-content{
        grid-template-columns: repeat(3, 1fr);
    }
    
}

@media screen and (min-width: 1200px){
    .blog-content{
        grid-template-columns: repeat(3, 1fr);
    }
}






